.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;

  &__counter {
    display: flex;
    flex-direction: row;
  }
  &__text {
    margin-right: 8px;
    &_complete {
      color: green;
    }
  }

  &__clearAll {
    font-size: 16px;
    cursor: pointer;
  }
}

.check-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8px 0px 8px 0px;
  border: 1px solid rgb(114, 100, 100);
  padding: 12px;

  &_complete {
    border: 1px solid green;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 2%;
  }

  &__actions {
    display: flex;
    flex-direction: row;
  }
  &__btn {
    font-size: 16px;
    margin-left: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &_complete {
      color: green;
    }
    &_remove {
      color: red;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
