<div class="wrapper">
  <div class="check-card">
    <p class="check-card__title">
      {{ title }}
    </p>
    <div class="check-card__actions">
      <button class="btn check-card__btn check-card__btn_complete">
        Mark as Complete<svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="24"
          fill="green"
        >
          <path
            d="m9.55 18-5.7-5.7 1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4Z"
          />
        </svg>
      </button>
      <button class="btn check-card__btn check-card__btn_remove">
        Remove
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          width="24"
          fill="red"
        >
          <path
            d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6Z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
